if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 3  # Change to 3 for macropad

config BT_MAX_CONN
    default 8  # Change to 8 for macropad (3 peripherals + 5 profiles)

config BT_MAX_PAIRED
    default 8  # Change to 8 for macropad

endif
