#include <dt-bindings/zmk/matrix_transform.h>

&default_transform {
    col-offset = <6>;
};

// Disable I2C for OLED
&pro_micro_i2c {
    status = "disabled";
};

// Add right encoder
/ {
    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // SCL
        b-gpios = <&pro_micro 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // SDA
        steps = <80>;
        status = "okay";
    };
};
