/* 
Keyboard: Corne 6 column
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>

#define ___ &trans

// Layer aliases
#define DEF 0
#define NUM 1
#define NAV 2

&led_strip {
    chain-length = <27>;
};

/ {
    combos {
        compatible = "zmk,combos";
        
        combo_z {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp Z>;
            layers = <DEF>;
        };
        
        combo_q {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp Q>;
            layers = <DEF>;
        };
        
        combo_ff {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp C_FAST_FORWARD>;
            layers = <NAV>;
        };
        
        combo_rew {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp C_REWIND>;
            layers = <NAV>;
        };
    };

    behaviors {
        ss_cw: ss_cw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };

        tt: tt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <125>;
            bindings = <&tog>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = 
    &kp TAB    &kp J     &kp G      &kp M      &kp P      &kp W        &kp MINUS  &kp U      &kp O      &kp Y      &kp K      &kp BSPC
    &ss_cw     &kp R     &kp S      &kp N      &kp D      &kp B        &kp COMMA  &kp A      &kp E      &kp I      &kp H      &kp Q
    &kp LCTRL  &kp X     &kp F      &kp L      &kp C      &kp V        &kp SEMI   &kp DOT    &kp SLASH  &kp SQT    &kp BSLH   &kp ESC
                                    &kp Z      &kp T      &mo NUM      &lt NAV RET &kp SPACE &kp LALT
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            bindings = 
    &kp TAB  ___      ___      ___      ___      ___          &kp GRAVE  &kp LPAR   &kp RPAR   &kp LBRC   &kp RBRC   &kp BSPC
    ___      &kp N1   &kp N2   &kp N3   &kp N4   &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp EQUAL
    ___      ___      ___      ___      ___      ___          ___        &kp LBKT   &kp RBKT   &kp LT     &kp GT     ___
                               ___      ___      ___          &kp RET    &kp SPACE  &kp LALT
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav_layer {
            bindings = 
    &kp TAB  &rgb_ug RGB_EFF &rgb_ug RGB_SPI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI    &kp C_VOL_UP  &kp HOME   &kp UP     &kp END    &kp TAB    &kp DEL
    ___      &rgb_ug RGB_EFR &rgb_ug RGB_SPD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD    &kp C_VOL_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp INS    &kp PG_UP
    ___      &rgb_ug RGB_TOG &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 3    &bt BT_CLR         &kp C_MUTE    &kp C_PREV &kp C_PP   &kp C_NEXT &kp LMETA  &kp PG_DN
                                             ___             ___             ___                &kp RET       &kp SPACE  &kp LALT
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
